.snakemake
.Rhistory
__pycache__
.ipynb_checkpoints
NWSAS model/*results/*
*/Plots/*
*dashboard/data*
*dashboard/.idea/*
*/Data/WEAP Results/*
*/Data/GIS/*
*/Data/Processed results/*
*/Data/Ordered results/*
*/Data/Cropland and Builtarea/*
*Old
*/test dash results/
Prototyping.ipynb
