.snakemake
.Rhistory
__pycache__
.ipynb_checkpoints
*/dashboard/data*
*/dashboard/.idea/*
*/data/WEAP results/*
*/data/gis/*
*/data/processed results/*
*/data/cropland/*
*Old
*/test dash results/
Prototyping.ipynb
*/High level results/*
*results_explorer.ipynb
