:root {
  --secondary:#aaa;
  --primary:#EB6864;
  --btn-text:#fff;
  --btn-bg-hover:#e74742;
  --btn-bc-hover:#e53c37;
  --btn-bs-focus:rgba(238,127,123,0.5);
  --btn-bc-active:#e4312c;
  --btn-out-bs-focus:rgba(235,104,100,0.5);
  --cc-input-bs:rgba(235,104,100,0.25);
  --custom-bc-focus:#fad6d5;
  --cfs-bs-focus:rgba(235,104,100,0.25);
  --multi-item-bg:rgba(0,126,255,.08);
  --multi-item-bc:rgba(0,126,255,.24);
  --multi-item-c:#007eff;
  --dropitem-bg:rgba(0, 126, 255, 0.1);
}

.rc-slider-handle:hover {
border-color:var(--primary)
}

.rc-slider-handle {
border-color:rgba(235,104,100,0.8)
}

.btn-primary{
color:var(--btn-text);
background-color:var(--primary);
border-color:var(--primary)
}
.btn-primary:hover{
color:var(--btn-text);
background-color:var(--btn-bg-hover);
border-color:var(--btn-bc-hover)
}

.btn-primary.focus,.btn-primary:focus{
box-shadow:0 0 0 .2rem var(--btn-bs-focus);
background-color:var(--btn-bc-hover);
border-color:var(--btn-bc-active)
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
color:var(--btn-text);
background-color:var(--btn-bc-hover);
border-color:var(--btn-bc-active)
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
box-shadow:0 0 0 .2rem var(--btn-bs-focus)
}

.btn-outline-primary{
color:var(--primary);
border-color:var(--primary)
}
.btn-outline-primary:hover{
color:var(--btn-text);
background-color:var(--primary);
border-color:var(--primary)
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
box-shadow:0 0 0 .2rem var(--btn-out-bs-focus)
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
color:var(--btn-text);
background-color:var(--primary);
border-color:var(--primary)
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{
box-shadow:0 0 0 .2rem var(--btn-out-bs-focus)
}

.custom-control-input:focus~.custom-control-label::before{
box-shadow:0 0 0 .2rem var(--cc-input-bs);
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before{
border-color:var(--custom-bc-focus)
}

.custom-select:focus, .form-control:focus{
border-color:var(--custom-bc-focus);
outline:0;
box-shadow:0 0 0 .1rem var(--cfs-bs-focus)
}

.Select-arrow{top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px}.is-focused:not(.is-open)>.Select-control{border-color:var(--custom-bc-focus);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 0 0.1rem var(--cfs-bs-focus)}

.Select--multi .Select-value{background-color:var(--multi-item-bg);border-radius:2px;border:1px solid var(--multi-item-bc);color:var(--multi-item-c);display:inline-block;font-size:.9em;line-height:1.4;margin-left:5px;margin-top:5px;vertical-align:top}

.VirtualizedSelectFocusedOption {
  background-color: var(--dropitem-bg);
}

.VirtualizedSelectSelectedOption {
  font-weight: bold;
}

.drop-items {
  text-transform: capitalize;
  color: var(--secondary);
}

.drop-items:active {
  background-color: var(--primary);
  outline: 0;
}

.menu-items {
  text-transform: capitalize;
  color: var(--secondary);
  font-size: 18px;
}

.menu-items:hover {
  background-color: #F0F0F0;
  color: var(--secondary);
}

.menu-items:active {
  background-color: var(--primary);
}

a {
  color: var(--secondary);
}

a:hover {
  color: var(--primary);
  text-decoration: none;
}