@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
/* ::-webkit-scrollbar-track { */
  /* background: var(--main-bg-color);  */
/* } */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(20,33,61,.32); 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(20,33,61,.5); 
}

h2, h3, h4, h5 {
  font-variant: small-caps;
}

button {
  text-transform: uppercase;
}

.tabs {
  color: rgba(50,50,50,1);
  font-weight: 600;
  font-variant: small-caps
}

.tabs:hover {
  color: var(--primary);
  font-weight: 600;
  /* background-color: rgba(23,162,184,0.2); */
}

.active {
  color: var(--primary);
  font-weight: 600;
  /* background-color: rgba(23,162,184,0.2); */
}

.custom-control-input:checked~ .custom-control-label::before {
  background-color: var(--primary);
  border-color: var(--primary);
}

#sidebar {
  text-align: left;
  padding: 0rem 0rem;
  /* background-color: var(--main-bg-color); */
}

#map {
  z-index: 1;
  padding: 0rem 0rem;
  height: 100vh
}

#map-div {
  padding: 0rem 0rem;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}

/* Hide the blurb on a small screen */
/* #blurb { */
  /* display: none; */
/* } */

#sidebar-toggle {
  display: none;
}

/* #collapse *:first-child { */
  /* margin-top: 1rem; */
/* } */

.mr-1 {
  box-shadow: 0 -1px 1px 0 rgba(20,33,61,.08), 0 2px 6px 0 rgba(20,33,61,.24);
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#page-content {
  padding: 0rem 0rem;
  /* background-color: #f8f9fa; */
}

#results-container {
  padding: 0rem 0rem;
  /* display: inline-block; */
  /* background-color: var(--main-bg-color); */
  box-shadow: 0 -1px 0 0 rgba(20,33,61,.2);
}

#tabs {
  position: relative;
  flex: 0 1 auto;
  margin: 0;
  padding: 0rem 0rem;
  z-index: 2;
  box-shadow: 0px 2px 2px 0px rgba(20,33,61,.08);
  /* transition: margin 0.5s ease-in-out; */
}

.footer {
  position: relative;
  z-index: 100;
  flex: 0 1 auto;
  padding: 1rem 1rem;
  margin: 0;
  z-index: 2;
  box-shadow: 0 -2px 2px 0 rgba(20,33,61,.08);
}

#sidebar-header {
  position: relative;
  text-align: left;
  flex: 0 1 auto;
  margin: 0;
  padding: 1rem 0rem 0rem 0rem;
}

#tools, #visual-tools {
  position: relative;
  text-align: left;
  flex: 1 1 auto;
  padding: 1rem 0rem;
}

.options {
  padding: 0rem 1rem;
  font-size: 1rem;
}

#results-header {
  position: relative;
  text-align: left;
  flex: 0 1 auto;
  margin: 0;
  padding: 1rem 1rem;
  z-index: 2;
  box-shadow: 0 2px 2px 0 rgba(20,33,61,.08);
}

.map-controls {
  z-index: 9999;
  position: absolute;
  bottom: 5.5rem;
  left: 2rem;
}

.map-ctrl-bottom {
    z-index: 1;
    background: #fff;
    border: none;
}

.popover-map {
  visibility: hidden;
  position: absolute;
  width: 180px;
  z-index: 1;
  bottom: 3rem;
  background: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 1px 0 rgba(20,33,61,.08), 0 2px 6px 0 rgba(20,33,61,.24);
}

/*.popover-map-show {
  visibility: visible;
  position: absolute;
  z-index: 1;
  bottom: 3rem;
  background: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 1px 0 rgba(20,33,61,.08), 0 2px 6px 0 rgba(20,33,61,.24);
}*/

.popover-map:hover, .popover-map:focus,
button + .popover-map:active,
button:focus + .popover-map {
    visibility: visible;
}

/*.map-controls:focus .popover-map {
  visibility: visible;
}*/

#graphs-container {
    position: relative;
    text-align: left;
	flex: 1 1 auto;
	padding: 1rem 0rem 1rem 1rem;
}

.info {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: var(--main-bg-color);
  border: none;
  color: var(--secondary);
  padding: 0px 4px;
  text-align: center;
  /* text-decoration: none; */
  display: inline-block;
  font-size: 15px;
  float: right;
  border-radius: 6px;
}

.info:hover {
  background-color: #F0F0F0; /* Green */
  color: var(--secondary);
}

@media (min-width: 75em) {    
  #graphs-container {
    position: relative;
	overflow: auto;
  }

  /* #map { */
    /* position: relative; */
	/* left: 0; */
	/* top: 0; */
  /* } */
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	height: 100%;
	display: flex;
	flex-flow: column;
	z-index: 100;
    width: 20rem;
	box-shadow: 0 0 16px 4px rgba(20,33,61,.08);
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: none;
  }
  
  #tabs, .footer {
	transition: margin 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -16.5rem;
    padding-right: 0rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -1rem;
	margin-right: -0.5rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 3.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }
  

  /* reveal the blurb on a large screen */
  /* #blurb { */
    /* display: block; */
  /* } */

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
	overflow: auto;
	flex: 1 1 auto;
	transition: margin 0.3s ease-in-out;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
	height: 100vh;
    margin-left: 20rem;
    margin-right: 0rem;
	display: flex;
	flex-flow: row;
    transition: margin-left 0.3s ease-in-out;
  }
  
  /* #map { */
	/* position: sticky; */
	/* left: 0; */
    /* height: 100vh; */
  /* } */
  
  #results-container {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	height: 100%;
	z-index: 100;
	box-shadow: 0 0 16px 4px rgba(20,33,61,.08);
	overflow: auto;
	transition: margin-left 0.3s ease-in-out;
  }
}
